<template name="playersJoining">
	<div>
		<h3 class="waiting-for-players-title">
			Waiting for players to join ({{players.length}} / {{playerCount}})
		</h3>
		<div class="join-buttons-section">
			<button class="join-game-button primary-button"
				disabled="{{#unless canJoinGame}}disabled{{/unless}}">
				{{#if isCurrentUserJoined}}
					Joined!
				{{else}}
					Join
				{{/if}}
			</button>
			{{#if isCurrentUserGameCreator}}
				<button class="abandon-game-button secondary-button">
					Abandon game
				</button>
			{{else}}
				<button class="leave-game-button secondary-button"
					disabled="{{#unless canLeaveGame}}disabled{{/unless}}">
					Leave
				</button>
			{{/if}}
		</div>
		<div class="players-section">
			{{#each currentlyJoinedPlayers}}
				{{> joinedPlayer}}
			{{/each}}
		</div>
	</div>
</template>

<template name="joinedPlayer">
	<div class="joined-player">
		<div class="player-name">
			{{username}}
		</div>
		<div class="player-card">
			&lt;(*_*)&gt;
		</div>
	</div>
</template>