<template name="starting">
	{{#if settingUpGame}}
		<h1 style="text-align:center;">
			Setting up game...
		</h1>
	{{else}}
		<div style="text-align:center;">
			<div class="secret-info-section">
				{{> Template.dynamic template=roleSpecificTemplate }}
			</div>
			{{#if isPlayerInGame}}
				<div class="move-on-section">
					<button class="ready-starting-game primary-button"
						disabled="{{#if isReadyToMoveOn}}disabled{{/if}}">
						{{#if isReadyToMoveOn}}
							Waiting on others...
						{{else}}
							Okay, let's do this
						{{/if}}
					</button>
				</div>
			{{/if}}
			<div class="player-status-section">
				{{#each playerWaitingStatuses}}
					<div class="username {{#if isReady}}user-ready{{/if}}">
						{{user.username}}
					</div>
				{{/each}}
			</div>
		</div>
	{{/if}}
</template>

<template name="starting_normalGood">
	<div>
		You are a normal good person!
	</div>
</template>

<template name="starting_merlin">
	<div>
		You are merlin!
	</div>
	<div>
		<div>
			{{#unless gameIncludesRole "mordred"}}
				Here are all the bad guys!
			{{else}}
				Here are all the bad guys other than mordred!
			{{/unless}}
		</div>
		<div>
			{{#each revealedPlayers}}
				<span class="username">{{username}}</span>
			{{/each}}
		</div>
	</div>
</template>

<template name="starting_percival">
	<div>
		You are percival!
	</div>
	<div>
		<div>
			These two are morgana and merlin. But which one is which?
		</div>
		<div>
			{{#each revealedPlayers}}
				<span class="username">{{username}}</span>
			{{/each}}
		</div>
	</div>
</template>

<template name="starting_normalEvil">
	<div>
		You are a normal evil person!
	</div>
	<div>
		<div>
			{{#unless gameIncludesRole "oberon"}}
				Here are your other fellow evildoers!
			{{else}}
				Here are your other fellow evildoers, except oberon!
			{{/unless}}
		</div>
		<div>
			{{#each revealedPlayers}}
				<span class="username">{{username}}</span>
			{{/each}}
		</div>
	</div>
</template>
<template name="starting_assassin">
	<div>
		You are the assassin!
	</div>
	<div>
		<div>
			{{#unless gameIncludesRole "oberon"}}
				Here are your other fellow evildoers!
			{{else}}
				Here are your other fellow evildoers, except oberon!
			{{/unless}}
		</div>
		<div>
			{{#each revealedPlayers}}
				<span class="username">{{username}}</span>
			{{/each}}
		</div>
	</div>
</template>

<template name="starting_morgana">
	<div>
		You are morgana!
	</div>
	<div>
		<div>
			{{#unless gameIncludesRole "oberon"}}
				Here are your other fellow evildoers!
			{{else}}
				Here are your other fellow evildoers, except oberon!
			{{/unless}}
		</div>
		<div>
			{{#each revealedPlayers}}
				<span class="username">{{username}}</span>
			{{/each}}
		</div>
	</div>
</template>

<template name="starting_oberon">
	<div>
		You are oberon!
	</div>
	<div>
		You're in the dark about everything!
	</div>
</template>

<template name="starting_mordred">
	<div>
		You are mordred!
	</div>
	<div>
		<div>
			{{#unless gameIncludesRole "oberon"}}
				Here are your other fellow evildoers!
			{{else}}
				Here are your other fellow evildoers, except oberon!
			{{/unless}}
		</div>
		<div>
			{{#each revealedPlayers}}
				<span class="username">{{username}}</span>
			{{/each}}
		</div>
	</div>
</template>

<template name="starting_notInGame">
	Showing players their identities...
</template>