/************************************/
/* For the overall summary template */
/************************************/
.game-state-summary {
	text-align: center;
	margin: 2px;
	padding: 10px;
	width: 50%;
	border-left: 2px solid #222222;
	box-sizing: border-box;
	float:right;
}
.round-detail {
	margin: 10px;
}

/**************************/
/* For the Round template */
/**************************/
.round-section {
	display: inline-block;
}
.round-subtext {
	font-size: xx-small;
}
.round-token {
	border-radius: 50%;
	border: 1px solid #CC2233;
	font-size: x-small;
	padding: 15px 5px 0 5px;
	height: 60px;
	width: 60px;
	margin: 5px;
	box-sizing: border-box;
}
.round-token-num {
	font-weight: bold;
	font-size: large;
}
.round-token:hover:not(.disabled) {
	background-color: #FFFFFF;
	cursor: pointer;
}
.round-token.selected-round {
	box-shadow: 0 0 20px black;
}
.round-token.disabled {
	background-color: #CCCCCC;
	color: #999999;
	border: 1px solid #555555;
}
.round-token.current {
	background-color: #CCCCFF;
}
.round-token.passed {
	background-color: #33FF33;
}
.round-token.failed {
	background-color: #FF3333;
}

/*********************************/
/* For the Round Detail template */
/*********************************/
.round-detail-general {
	font-size: smaller;
	border-top: 1px solid #AAAAAA;
	margin: 5px;
}
.round-general-info {
	margin: 5px;
}
.round-general-info-item {
	margin: 0 5px;
	display: inline-block;
}
.round-votes {
	padding: 3px;
	display: inline-block;
	box-shadow: 0 0 5px #CC8844;
	border-radius: 3px;
}
.vote-count {
	font-size: larger;
	font-weight: bold;
	margin-right: 5px;
}
.round-vote-tally {
	margin: 0 20px;
	font-size: larger;
	display: inline-block;
}
.round-pass-count {
	color: #228833;
}
.round-fail-count {
	color: #CC2233;
}
.round-detail-nominations {
	margin: 5px;
	text-align: initial;
	display: inline-block;
}
.round-detail-mission {
	margin: 5px;
}

/*******************************/
/* For the Nomination template */
/*******************************/
.nomination {
	margin: 5px;
	display: flex;
	align-items: flex-start;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCCCCC;
}
.nomination-number {
	display: inline-block;
	border: 1px solid black;
	border-radius: 100px;
	padding: 5px;
	margin-right: 20px;
	background-color: #dddddd;
	color: black;
	float: left;
	width: 12px;
	height: 18px;
	text-align: center;
}
.nomination-info-section {

}
.nomination-players {
	margin: 2px;
}
.nomination-votes {
	margin: 2px;
}
.username.vote {
	font-size: smaller;
}
.username.player-upvoted {
	background-color: green;
}
.username.player-downvoted {
	background-color: red;
}
/****************************/
/* For the Mission template */
/****************************/