body {
	margin: 0;
}

button {
	padding: 5px;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.38),0 3px 3px rgba(0, 0, 0, 0.32);
	text-shadow: 0 -1px rgba(0, 0, 0, 0.11);
	cursor: pointer;
}

a {
	text-decoration: initial;
}
.primary-button {
	color: #FFCCCC;
	background-color: #CC0422;
}
.primary-button:disabled {
	color: #AAAAAA;
	background-color: #CCCCCC;
}
.primary-link, .primary-link:visited {
	font-weight: bold;
	color: #CC0422;
}

.secondary-button {
	color: #CC0422;
	background-color: #FFCCCC;
	font-size: smaller;
}
.secondary-button:disabled {
	color: #AAAAAA;
	background-color: #CCCCCC;
}
.secondary-link, .secondary-link:visited {
	color: #AA3366;
	font-size: smaller;
}

.pipe {
	margin: 0 3px;
	font-weight: bold;
}

.hidden {
	visibility: hidden;
	display: none;
}

.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.ui-tooltip {
	font-size: 0.6em;
	padding: 4px;
	border-radius: 2px;
	margin: 0px;
	background-color: rgba(0,0,0,0.8);
	color: white;
}