.menubar {
	width: auto;
	background-color: #CC0422;
}

.menubar ul {
	display: inline-block;
	list-style: none;
	line-height: 1;
	zoom: 1;
	margin: 15px 0;
	padding: 0;
}

.login-buttons {
	display: inline-block;
	list-style: none;
	line-height: 1;
	zoom: 1;
	margin: 15px 25px;
	padding: 0;
	float: right;
}

.menubar li {
	display: inline-block;
	margin: 0 25px;
	text-transform: uppercase;
	font-family: monospace;
}