.waiting-for-players-title {
	margin: 10px 0;
	text-align: center;
}
.join-buttons-section {
	margin: 10px;
	text-align: center;
}
.players-section {
	margin: 10px;
	margin-top: 20px;
}
.joined-player {
	padding: 5px;
	display: inline-block;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	text-align: center;
	margin: 5px;
	background-color: #CC9966;
	transition: padding-bottom 200ms ease-out;
}
.joined-player:hover {
	padding-bottom: 30px
}
.player-card {
	padding: 5px;
}