<template name="gameStateSummary">
	{{!--
		Data context for this template should be a game object.
		It doesn't need to contain player secrets.
		It should be at least past the "starting" phase.
	--}}
	<div class="game-state-summary">
		<div>Game summary</div>
		{{#each gameRounds}}
			{{> gameStateSummary_round }}
		{{/each}}
		<div class="round-detail">
			{{#if selectedRound}}
				{{> gameStateSummary_roundDetail selectedRound }}
			{{else}}
				Select a round to view more information.
			{{/if}}
		</div>
	</div>
</template>

<template name="gameStateSummary_round">
	<div class="round-section">
		<div class="round-token
			{{#if selected}}
				selected-round
			{{/if}}
			{{#if round}}
				{{#if round.mission.outcome}}
					{{#if round.mission.outcome.passed}}
						passed
					{{else}}
						failed
					{{/if}}
				{{else}}
					current
				{{/if}}
			{{else}}
				disabled
			{{/if}}
			"
			data-round-num="{{roundNum}}">
			<div>Round</div>
			<div class="round-token-num">{{roundNum}}</div>
		</div>
		<div class="round-subtext">
			<div>{{presets.nominations}} players</div>
			<div>fails required: {{presets.requiredFails}}</div>
		</div>
	</div>
</template>

<template name="gameStateSummary_roundDetail">
	<div class="round-detail-general">
		<div class="round-general-info">
			<div class="round-general-info-item">
				{{nomineeCount}} players on the mission
			</div>
			<div class="round-general-info-item">
				{{#if plural failsRequired}}
					{{failsRequired}} fail votes required to fail
				{{else}}
					{{failsRequired}} fail vote required to fail
				{{/if}}
			</div>
		</div>
		{{#if mission.outcome}}
			{{#with mission.outcome}}
				<div class="round-votes">
					<div class="round-vote-tally">
						<span class="vote-count round-pass-count">{{passCount}}</span> passes
					</div>
					<div class="round-vote-tally">
						<span class="vote-count round-fail-count">{{failCount}}</span> fails
					</div>
				</div>
			{{/with}}
		{{else}}
			<div class="round-in-progress">
				This round is currently in progress.
			</div>
		{{/if}}
	</div>
	{{#if nominations}}
		<div class="round-detail-nominations">
			{{#each roundNominations}}
				<div class="nomination">
					<div class="nomination-number">
						{{nominationNum}}
					</div>
					<div class="nomination-info-section">
						<div class="nomination-players">
							<span>
								<span class="username">{{nominatingUser.username}}</span>
								nominated:
							</span>
							{{#each playersNominated}}
								<span class="username">{{username}}</span>
							{{/each}}
						</div>
						{{!-- Only show voting outcome if nomination is complete --}}
						{{#if hasValue approved}}
						<div class="nomination-votes">
							<span>Votes:</span>
							{{#each	playerVotingDetails}}
								<span class="username vote {{voteClass}}">
									{{user.username}}
								</span>
							{{/each}}
						</div>
						{{/if}}
					</div>
				</div>
			{{/each}}
		</div>
	{{else}}
		<div class="round-in-progress">
			No nominations have been made yet.
		</div>
	{{/if}}
	{{#if mission}}
		<div class="round-detail-mission">
			{{#with mission}}
				{{#each playersNominated}}
					<span class="username">{{username}}</span>
				{{/each}}
				{{#if outcome}}
					went on the mission.
				{{else}}
					are going on the mission.
				{{/if}}
			{{/with}}
		</div>
	{{/if}}
</template>